# ETL Smoke Test

## Running the code in the test files

In [1]:
from pathlib import Path
import pandas as pd
from metro_disruptions_intelligence.etl.static_ingest import ingest_static_gtfs
from metro_disruptions_intelligence.etl.ingest_rt import ingest_all_rt, union_all_feeds
import matplotlib.pyplot as plt

In [2]:
project_root = Path.cwd()
if not (project_root / "sample_data").exists():
    project_root = project_root.parent

In [3]:
processed = project_root / "data" / "processed"
static_dir = project_root / "data" / "static"
rt_dir = project_root / "sample_data" / "rt"

In [4]:
static_out = ingest_static_gtfs(static_dir, processed / "static")
ingest_all_rt(rt_dir, processed / "rt")
union_all_feeds(processed / "rt", processed / "station_event.parquet")

WindowsPath('c:/Users/Luis.ParraMorales/GitProjects/metro_disruptions_intelligence/data/processed/station_event.parquet')

In [5]:
df = pd.read_parquet(processed / "station_event.parquet")
df.head()

,snapshot_timestamp,alert_entity_id,active_period_start,active_period_end,agency_id,route_id,direction_id,cause,effect,header_text,...,arrival_delay,departure_delay,latitude,longitude,bearing,speed,current_stop_sequence,current_status,congestion_level,occupancy_status
0,1743461951,cbd2e2c2-d0e1-5727-950d-99f78d6ffe31,1.743591e+09,1.743606e+09,SMNW,SMNW_M1,1,9,6,"Metro services run between Tallawong, Martin P...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
1,1743461951,cbd2e2c2-d0e1-5727-950d-99f78d6ffe31,1.743591e+09,1.743606e+09,SMNW,SMNW_M1,0,9,6,"Metro services run between Tallawong, Martin P...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
2,1743461951,3854a373-b4cb-5cd5-a977-a01679b970b7,1.743779e+09,1.743955e+09,SMNW,SMNW_M1,1,9,6,Train trackwork on the T1 North Shore Line and...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
3,1743461951,3854a373-b4cb-5cd5-a977-a01679b970b7,1.743779e+09,1.743955e+09,SMNW,SMNW_M1,0,9,6,Train trackwork on the T1 North Shore Line and...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
4,1743461951,72cf39c4-c201-546a-a926-2708489444cd,1.744027e+09,1.744042e+09,SMNW,SMNW_M1,1,9,6,"Metro services run between Tallawong, Martin P...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None

In [6]:
df['latitude'].unique()

array([         nan, -33.73006821, -33.87810516, -33.77522659,
       -33.69151306, -33.73641205, -33.8347168 , -33.73478699,
       -33.88264084, -33.82636642, -33.90501022, -33.80104446,
       -33.86038589, -33.78541183, -33.7965889 , -33.73074722,
       -33.7587738 , -33.7856636 , -33.7943573 , -33.76380157,
       -33.72641754, -33.73005676, -33.90744019, -33.69189835,
       -33.7756958 , -33.85907364, -33.69148254, -33.71961594])

In [7]:
df['feed_type'].value_counts()

feed_type
trip_updates         1356
vehicle_positions      27
alerts                 12
Name: count, dtype: int64

In [8]:
df.describe()

,snapshot_timestamp,active_period_start,active_period_end,direction_id,year,month,day,stop_sequence,arrival_time,departure_time,arrival_delay,departure_delay,latitude,longitude,bearing,speed,current_stop_sequence
count,1.395000e+03,1.200000e+01,1.200000e+01,1395.000000,1395.0,1395.0,1395.0,1356.000000,1.293000e+03,1.290000e+03,1293.000000,1290.000000,27.000000,27.000000,27.000000,27.000000,27.000000
mean,1.743462e+09,1.744016e+09,1.744084e+09,0.478136,2025.0,3.0,31.0,11.112094,1.743463e+09,1.743463e+09,7.770302,7.246512,-33.784196,151.088184,212.451112,16.259259,11.000000
std,4.264209e+00,2.756266e+05,2.992072e+05,0.499701,0.0,0.0,0.0,6.053206,2.837370e+03,2.840800e+03,13.428367,11.643716,0.065766,0.109209,100.262795,10.822315,5.837544
min,1.743462e+09,1.743591e+09,1.743606e+09,0.000000,2025.0,3.0,31.0,1.000000,1.743457e+09,1.743457e+09,-22.000000,-18.000000,-33.907440,150.905334,9.440000,0.000000,1.000000
25%,1.743462e+09,1.743779e+09,1.743955e+09,0.000000,2025.0,3.0,31.0,6.000000,1.743460e+09,1.743460e+09,0.000000,0.000000,-33.830542,150.985672,139.500000,7.000000,7.000000
50%,1.743462e+09,1.744070e+09,1.744085e+09,0.000000,2025.0,3.0,31.0,11.000000,1.743463e+09,1.743463e+09,0.000000,0.000000,-33.775696,151.114502,215.970001,20.000000,12.000000
75%,1.743462e+09,1.744199e+09,1.744214e+09,1.000000,2025.0,3.0,31.0,16.000000,1.743465e+09,1.743465e+09,15.000000,14.000000,-33.730408,151.193558,308.255005,26.500000,15.500000
max,1.743462e+09,1.744387e+09,1.744560e+09,1.000000,2025.0,3.0,31.0,21.000000,1.743469e+09,1.743469e+09,78.000000,53.000000,-33.691483,151.208542,359.059998,28.000000,20.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   snapshot_timestamp     1395 non-null   int64
 1   alert_entity_id        12 non-null     object
 2   active_period_start    12 non-null     float64
 3   active_period_end      12 non-null     float64
 4   agency_id              12 non-null     object
 5   route_id               1395 non-null   object
 6   direction_id           1395 non-null   int64
 7   cause                  12 non-null     object
 8   effect                 12 non-null     object
 9   header_text            12 non-null     object
 10  description_text       12 non-null     object
 11  url                    12 non-null     object
 12  year                   1395 non-null   int64
 13  month                  1395 non-null   int64
 14  day                    1395 non-null   int64
 15  feed_type              1395 non-null   object
 16  trip_id                1383 non-null   object
 17  start_time             1356 non-null   object
 18  start_date             1356 non-null   object
 19  vehicle_id             1383 non-null   object
 20  stop_sequence          1356 non-null   float64
 21  stop_id                1383 non-null   object
 22  arrival_time           1293 non-null   float64
 23  departure_time         1290 non-null   float64
 24  arrival_delay          1293 non-null   float64
 25  departure_delay        1290 non-null   float64
 26  latitude               27 non-null     float64
 27  longitude              27 non-null     float64
 28  bearing                27 non-null     float64
 29  speed                  27 non-null     float64
 30  current_stop_sequence  27 non-null     float64
 31  current_status         27 non-null     object
 32  congestion_level       27 non-null     object
 33  occupancy_status       27 non-null     object
dtypes: float64(12), int64(5), object(17)
memory usage: 370.7+ KB

In [10]:
df.columns

Index(['snapshot_timestamp', 'alert_entity_id', 'active_period_start',
       'active_period_end', 'agency_id', 'route_id', 'direction_id', 'cause',
       'effect', 'header_text', 'description_text', 'url', 'year', 'month',
       'day', 'feed_type', 'trip_id', 'start_time', 'start_date', 'vehicle_id',
       'stop_sequence', 'stop_id', 'arrival_time', 'departure_time',
       'arrival_delay', 'departure_delay', 'latitude', 'longitude', 'bearing',
       'speed', 'current_stop_sequence', 'current_status', 'congestion_level',
       'occupancy_status'],
      dtype='object')

## Sanity checks and exploration

### Basic Snaity Checks

In [11]:
print(project_root)

c:\Users\Luis.ParraMorales\GitProjects\metro_disruptions_intelligence

In [12]:
processed = project_root / "data" / "processed"
static_df = pd.read_parquet(processed / "static" / "station_schedule.parquet")
rt_df = pd.read_parquet(processed / "station_event.parquet")

In [13]:
static_df.columns

Index(['trip_id', 'service_id', 'route_id', 'stop_id', 'sched_arr',
       'sched_dep', 'stop_sequence'],
      dtype='object')

In [14]:
static_df.head()

,trip_id,service_id,route_id,stop_id,sched_arr,sched_dep,stop_sequence
0,0035-001-101-002:1000,3369949,SMNW_M1,2155269,14880,14880,1
1,0035-001-101-002:1000,3369949,SMNW_M1,2155267,15000,15030,2
2,0035-001-101-002:1000,3369949,SMNW_M1,2155265,15169,15199,3
3,0035-001-101-002:1000,3369949,SMNW_M1,2153402,15319,15349,4
4,0035-001-101-002:1000,3369949,SMNW_M1,2153404,15476,15506,5

In [15]:
print(rt_df.feed_type.value_counts())

feed_type
trip_updates         1356
vehicle_positions      27
alerts                 12
Name: count, dtype: int64

In [16]:
print(rt_df.snapshot_timestamp.min(), rt_df.snapshot_timestamp.max())

1743461951 1743461997

## Exploration of the parquet rows and columns

In [21]:
# ---------- settings ----------
out_dir  = project_root / "data" / "working_data"
out_file = out_dir / "parquet_test_data_dictionary.csv"
out_dir.mkdir(parents=True, exist_ok=True)

# ---------- helpers ----------
def get_value_description(s, max_show=10):
    uniques = s.dropna().unique()
    preview = ", ".join(map(str, uniques[:max_show]))
    if len(uniques) > max_show:
        preview += " …"
    return preview

# ---------- base info ----------
info_df = pd.DataFrame({
    "column":   df.columns,
    "dtype":    df.dtypes.astype(str),
    "non_null": df.notna().sum()
})

# descriptive stats for numeric cols
stats_df = (
    df.describe()
      .T
      .reset_index()
      .rename(columns={"index": "column"})
)

# value descriptions (now a proper DataFrame)
value_desc = (
    df.apply(get_value_description)
      .to_frame(name="value_description")
      .reset_index()
      .rename(columns={"index": "column"})
)

# two extra optional metrics
n_unique = df.nunique().to_frame("n_unique").reset_index().rename(columns={"index":"column"})
pct_missing = ((df.isna().mean()*100).round(1)
               .to_frame("%_missing").reset_index().rename(columns={"index":"column"}))

# ---------- assemble ----------
data_dict = (
    info_df
      .merge(stats_df, on="column", how="left")
      .merge(value_desc, on="column", how="left")
      .merge(n_unique, on="column", how="left")
      .merge(pct_missing, on="column", how="left")
      .loc[:, ["column", "dtype", "non_null",
               "count", "mean", "std", "min", "25%", "50%", "75%", "max",
               "n_unique", "%_missing", "value_description"]]
)

data_dict.to_csv(out_file, index=False)
print(f"Saved → {out_file}")

Saved → c:\Users\Luis.ParraMorales\GitProjects\metro_disruptions_intelligence\data\working_data\parquet_test_data_dictionary.csv

In [23]:
from pathlib import Path
import pandas as pd

# ----------------------------------
# CONFIG
# ----------------------------------
out_dir  = project_root / "data" / "working_data"
out_dir.mkdir(parents=True, exist_ok=True)
out_file = out_dir / "column_≥50pct_present_by_feed_type.csv"

PRESENT_THRESHOLD = 0.50   # 0.50 = require ≥50 % non-null in a feed type

# ----------------------------------
# BUILD table
# ----------------------------------
feed_types = df["feed_type"].dropna().unique()

records = []
for col in df.columns:
    if col == "feed_type":
        continue

    ok_types = []
    for ft in feed_types:
        subset = df.loc[df["feed_type"] == ft, col]
        present_ratio = subset.notna().mean()          # between 0 and 1
        if present_ratio >= PRESENT_THRESHOLD:
            ok_types.append(f"{ft} ({present_ratio:.0%} present)")

    if ok_types:       # keep only columns that satisfy the threshold somewhere
        records.append(
            {
                "column": col,
                "feed_types_≥50pct_present": ", ".join(sorted(ok_types)),
            }
        )

result = pd.DataFrame(records).sort_values("column")

# ----------------------------------
# WRITE
# ----------------------------------
result.to_csv(out_file, index=False)
print(f"Saved → {out_file}")

Saved → c:\Users\Luis.ParraMorales\GitProjects\metro_disruptions_intelligence\data\working_data\column_≥50pct_present_by_feed_type.csv