# ETL Smoke Test

In [4]:
from pathlib import Path
import pandas as pd
from metro_disruptions_intelligence.etl.static_ingest import ingest_static_gtfs
from metro_disruptions_intelligence.etl.ingest_rt import ingest_all_rt, union_all_feeds

In [5]:
project_root = Path.cwd()
if not (project_root / "sample_data").exists():
    project_root = project_root.parent

In [7]:
processed = project_root / "data" / "processed"
static_dir = project_root / "sample_data" / "static"
rt_dir = project_root / "sample_data" / "rt"

In [8]:
static_out = ingest_static_gtfs(static_dir, processed / "static")
ingest_all_rt(rt_dir, processed / "rt")
union_all_feeds(processed / "rt", processed / "station_event.parquet")

WindowsPath('c:/Users/Luis.ParraMorales/GitProjects/metro_disruptions_intelligence/data/processed/station_event.parquet')

In [9]:
df = pd.read_parquet(processed / "station_event.parquet")
df.head()

,snapshot_timestamp,alert_entity_id,active_period_start,active_period_end,agency_id,route_id,direction_id,cause,effect,header_text,...,arrival_delay,departure_delay,latitude,longitude,bearing,speed,current_stop_sequence,current_status,congestion_level,occupancy_status
0,1743461951,cbd2e2c2-d0e1-5727-950d-99f78d6ffe31,1.743591e+09,1.743606e+09,SMNW,SMNW_M1,1,9,6,"Metro services run between Tallawong, Martin P...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
1,1743461951,cbd2e2c2-d0e1-5727-950d-99f78d6ffe31,1.743591e+09,1.743606e+09,SMNW,SMNW_M1,0,9,6,"Metro services run between Tallawong, Martin P...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
2,1743461951,3854a373-b4cb-5cd5-a977-a01679b970b7,1.743779e+09,1.743955e+09,SMNW,SMNW_M1,1,9,6,Train trackwork on the T1 North Shore Line and...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
3,1743461951,3854a373-b4cb-5cd5-a977-a01679b970b7,1.743779e+09,1.743955e+09,SMNW,SMNW_M1,0,9,6,Train trackwork on the T1 North Shore Line and...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
4,1743461951,72cf39c4-c201-546a-a926-2708489444cd,1.744027e+09,1.744042e+09,SMNW,SMNW_M1,1,9,6,"Metro services run between Tallawong, Martin P...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None

In [10]:
df['feed_type'].value_counts()

feed_type
trip_updates         1356
vehicle_positions      27
alerts                 12
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   snapshot_timestamp     1395 non-null   int64
 1   alert_entity_id        12 non-null     object
 2   active_period_start    12 non-null     float64
 3   active_period_end      12 non-null     float64
 4   agency_id              12 non-null     object
 5   route_id               1395 non-null   object
 6   direction_id           1395 non-null   int64
 7   cause                  12 non-null     object
 8   effect                 12 non-null     object
 9   header_text            12 non-null     object
 10  description_text       12 non-null     object
 11  url                    12 non-null     object
 12  year                   1395 non-null   int64
 13  month                  1395 non-null   int64
 14  day                    1395 non-null   int64
 15  feed_type              1395 non-null   object
 16  trip_id                1383 non-null   object
 17  start_time             1356 non-null   object
 18  start_date             1356 non-null   object
 19  vehicle_id             1383 non-null   object
 20  stop_sequence          1356 non-null   float64
 21  stop_id                1383 non-null   object
 22  arrival_time           1293 non-null   float64
 23  departure_time         1290 non-null   float64
 24  arrival_delay          1293 non-null   float64
 25  departure_delay        1290 non-null   float64
 26  latitude               27 non-null     float64
 27  longitude              27 non-null     float64
 28  bearing                27 non-null     float64
 29  speed                  27 non-null     float64
 30  current_stop_sequence  27 non-null     float64
 31  current_status         27 non-null     object
 32  congestion_level       27 non-null     object
 33  occupancy_status       27 non-null     object
dtypes: float64(12), int64(5), object(17)
memory usage: 370.7+ KB